ShapeTest{
    -fx-background-color: black;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-pref-width: 25;
    -fx-pref-height: 23;
}

.shape1{
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-position-shape: false;
    -fx-border-color: whitesmoke;
    -fx-scale-shape: false;
    -fx-shape: "M45.545641,0.115491228 C41.4254359,0.115491228 38.0994872,3.45079825 38.0994872,7.58259649 L38.0994872,20.4011272 C38.0994872,24.5329254 41.4254359,27.8682325 45.545641,27.8682325 L46.4391795,27.8682325 L99.2820513,27.8682325 L99.5798974,27.8682325 C103.700103,27.8682325 107.026051,24.5329254 107.026051,20.4011272 L107.026051,7.58259649 C107.026051,3.45079825 103.700103,0.115491228 99.5798974,0.115491228 L45.545641,0.115491228 L45.545641,0.115491228 Z";

}

.shape2{
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-border-color: whitesmoke;
    -fx-position-shape: false;
    -fx-scale-shape: false;
    -fx-shape: "M194.220513,142.289175 L194.220513,104.455842 L176.300103,104.455842 L176.300103,147.491259 L194.965128,177.085886 C196.00759,178.753291 194.816205,180.894359 192.855385,180.894359 L152.397949,180.894359 C150.437128,180.894359 149.245744,178.728649 150.288205,177.085886 L168.978051,147.491259 L168.978051,104.455842 L151.057641,104.455842 L151.057641,142.264285 L144.083077,153.315601 L117.177641,196.027443 L104.668103,215.890192 C101.64,220.66889 105.090051,226.916368 110.724059,226.916368 L234.603487,226.916368 C240.237744,226.916368 243.687795,220.66889 240.659444,215.890192 L194.220513,142.289175 L194.220513,142.289175 Z";
}

.shape3{
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-border-color: whitesmoke;
    -fx-position-shape: false;
    -fx-scale-shape: false;
    -fx-shape: "M146.093538,94.873057 C146.863223,95.2715515 147.682051,95.5702357 148.57559,95.6695482 C148.923077,95.7193289 149.245744,95.7442193 149.593479,95.7442193 L151.057641,95.7442193 L194.195692,95.7442193 L195.659854,95.7442193 C196.007342,95.7442193 196.354829,95.7193289 196.677744,95.6695482 C197.571282,95.5450965 198.390111,95.2713026 199.159795,94.873057 C201.492675,93.6036491 203.106008,91.1395044 203.106008,88.277114 L203.106008,78.6694386 C203.106008,74.5376404 199.780308,71.2023333 195.659854,71.2023333 L149.618051,71.2023333 C145.497846,71.2023333 142.171897,74.5376404 142.171897,78.6694386 L142.171897,88.277114 C142.171897,91.1395044 143.76041,93.6036491 146.093538,94.873057 L146.093538,94.873057 Z"
}

.shape4{
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-position-shape: false;
    -fx-border-color: whitesmoke;
    -fx-scale-shape: false;
    -fx-shape: "M118.294564,184.951237 L133.162051,161.355433 L145.597128,141.617136 C145.646769,140.42215 145.671838,139.252553 145.671838,138.057567 C145.671838,121.804417 140.45953,106.42218 130.605787,93.5787588 C122.53912,83.02525 111.568453,74.8114342 99.2822995,69.9827061 L99.2822995,36.5798553 L81.0392226,36.5798553 L81.0392226,83.4732763 L87.69112,85.3400526 C98.9099918,88.5011272 109.036761,95.3957544 116.185069,104.729636 C123.556761,114.362202 127.453582,125.886434 127.453582,138.057567 C127.453582,140.297698 127.304658,142.53783 127.056453,144.753071 C126.907282,145.997589 125.840248,146.943671 124.599223,146.943671 L21.1222564,146.943671 C19.8564103,146.943671 18.8139487,145.997589 18.6650256,144.753071 C18.392,142.562969 18.2678974,140.322838 18.2678974,138.057567 C18.2678974,125.886683 22.1647179,114.362202 29.5364103,104.729636 C36.6847179,95.3957544 46.8114872,88.5260175 58.030359,85.3400526 L64.6822564,83.4732763 L64.6822564,36.5798553 L46.414359,36.5798553 L46.414359,69.9827061 C34.1282051,74.8114342 23.1575385,83.02525 15.0660513,93.5787588 C5.21230769,106.44707 0,121.804666 0,138.057816 C0,157.571851 7.57025641,175.916537 21.345641,189.705294 C35.0962051,203.494548 53.3889231,211.110996 72.8482051,211.110996 C85.0350769,211.110996 96.7751795,208.124154 107.224615,202.498934 L118.294564,184.951237 L118.294564,184.951237 Z";

}

